    <!-- Action Menu -->
    <div class="action-box" id="display-parent-move">
        <h5>Choisis une action:</h5>
        <div class="row">
            {% for move in pokemon._moves %}
                <div class="col-6">
                    {% if move %}
                        <!-- Bouton avec infos au survol -->
                        <button id="attaque_button{{ loop.index0 }}" class="btn move-btn w-100 bouton-attaque"
                                style="background-color: {{ move.move_type.color }};"
                                data-name="{{ move.name }}"
                                data-description="{{ move.description }}"
                                data-power="{{ move.power }}"
                                data-accuracy="{{ move.accuracy }}"
                                data-type="{{ move.move_type.name }}"
                                onmouseover="startTooltip(this)"
                                onmouseout="hideTooltip()"
                            onclick="lancerAttaque({{ loop.index0 }}, '{{ pokemon.name }}', this.dataset.name)">

                            {{ move.name }}
                        </button>
                    {% else %}
                        <!-- Bouton désactivé pour les slots vides -->
                        <button id="attaque_button{{ loop.index0 }}" class="btn btn-disabled move-btn w-100" disabled>
                            Libre
                        </button>
                    {% endif %}
                </div>
                {% if loop.index is even %}</div>
                    <div class="row mt-2"> {% endif %}
            {% endfor %}
            {% with list_pokemon=list_pokemon, player=player %}
                {% include "partials/pokemon_modal.html" %}
            {% endwith %}
            </div>

        <!-- Tooltip (Invisible au départ) -->
        <div id="move-tooltip" class="tooltip-box" style="display: none;"></div>
        <script src="{{ url_for('static', filename='js/action_panel.js') }}"></script>
