<!-- Header du site -->
<header class="bg-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span id="current-datetime" class="text-muted"></span>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="h3 mb-0">Système de Surveillance</h1>
            </div>
            <div class="col-md-4 text-end">
                <p class="mb-0">Réalisé par :</p>
                <p class="mb-0">1er ARIES Lucas (aril7733)</p>
                <p class="mb-0">2nd TEMPESTINI Terry (temt8767)</p>
            </div>
        </div>
    </div>
</header>