{% set pokemon_hp_percentage = (pokemon.get_current_hp() / pokemon.get_current_max_hp()) * 100 %}

<div id="pokemon-joueur" class="player-container">
    <img id="pokemon_self_sprite" src="{{ pokemon.sprite_url }}" alt="{{ pokemon.name }}" class="pokemon-img player"/>
    <div class="pokemon-info player-info">
        <strong id="pokemon_self_name">{{ pokemon.name }}</strong> <span id="pokemon_self_status">{{ pokemon.get_status().value[1] }}</span><br>
        <span class="level" id="pokemon_self_level">Lv. {{ pokemon.level }}</span>
        <!-- Affichage des types de Pokémon -->
        <div class="pokemon-types">
            {% if pokemon.first_type.value != '' %}
                <img id="pokemon_self_first_type" src="{{ pokemon.first_type.value }}" alt="{{ pokemon.first_type.name }}" class="type-img"/>
            {% endif %}

            {% if pokemon.second_type.value != '' %}
                <img id="pokemon_self_second_type" src="{{ pokemon.second_type.value }}" alt="{{ pokemon.second_type.name }}" class="type-img"/>
            {% endif %}
        </div>

        <!-- HP Bar with Dynamic Color -->
        <div class="hp-bar">
            <div class="hp-fill" id="pokemon_self_hp_bar"
                 style="width: {{ pokemon_hp_percentage }}%; background-color:
                         {% if pokemon_hp_percentage > 50 %} #4CAF50
                         {% elif pokemon_hp_percentage > 20 %} #FF9800
                         {% else %} #F44336
                         {% endif %};">
            </div>
        </div>

        <small id="pokemon_display_self_hp_text">HP: {{ pokemon.get_current_hp() }} / {{ pokemon.get_current_max_hp() }}</small>

    </div>
</div>
