{% extends "partials/base.html" %}

{% block content %}

<div class="battle-container">
    <!-- Left Black Bar -->
    <div class="black-bar"></div>
  
    <!-- Main Battle Screen -->
    <div class="battle-screen">
      <!-- Opponent's Pokémon -->
      <div class="opponent-container">
        <div class="pokemon-info opponent-info">
          <strong>Charmander</strong> <br><span class="level">Lv. 10</span>
          <div class="hp-bar">
            <div class="hp-fill" style="width: 70%;"></div>
          </div>
          <small>HP: 21 / 30</small>
        </div>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" 
             alt="Charmander" class="pokemon-img opponent"/>
      </div>
  
      <!-- Player's Pokémon -->
        {% with pokemon=pokemon_self%}
            {% include "partials/pokemon_card_self.html" %}
        {% endwith %}

  
      <!-- Action Menu -->
      <div class="action-box">
        <h5>Choose an action:</h5>
        <div class="row">
          <div class="col-6"><button class="btn btn-primary w-100">Thunderbolt</button></div>
          <div class="col-6"><button class="btn btn-danger w-100">Flamethrower</button></div>
        </div>
        <div class="row mt-2">
          <div class="col-6"><button class="btn btn-success w-100">Quick Attack</button></div>
          <div class="col-6"><button class="btn btn-warning w-100">Defend</button></div>
        </div>
      </div>
    </div>
  
    <!-- Right Black Bar -->
    <div class="black-bar"></div>
  </div>

  

{% endblock %}