{% extends "partials/base.html" %}

{% block content %}

<div class="battle-container">
    <!-- Left Black Bar -->
    <div class="black-bar"></div>
  
    <!-- Main Battle Screen -->
    <div class="battle-screen">
      <!-- Opponent's Pokémon -->
        {% with pokemon=pokemon_op%}
                {% include "partials/pokemon_card_enemy.html" %}
        {% endwith %}


      <!-- Player's Pokémon -->
        {% with pokemon=pokemon_self%}
            {% include "partials/pokemon_card_self.html" %}
        {% endwith %}

  
      <!-- Action Menu -->
      <div class="action-box">
        <h5>Choose an action:</h5>
        <div class="row">
          <div class="col-6"><button class="btn btn-primary w-100">Thunderbolt</button></div>
          <div class="col-6"><button class="btn btn-danger w-100">Flamethrower</button></div>
        </div>
        <div class="row mt-2">
          <div class="col-6"><button class="btn btn-success w-100">Quick Attack</button></div>
          <div class="col-6"><button class="btn btn-warning w-100">Defend</button></div>
        </div>
      </div>
    </div>
  
    <!-- Right Black Bar -->
    <div class="black-bar"></div>
  </div>

  

{% endblock %}