.pc-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.shop-container, .team-container {
    width: 80%;
    text-align: center;
    background: #333;
    padding: 10px;
    border-radius: 10px;
}

.shop-screen, .team-screen {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px black;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
}

.pokemon-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.pokemon-slot {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.shop-slot {
    background: linear-gradient(135deg, #ffcc00, #ff6600);
    color: white;
}

.team-slot {
    background: url('/static/img/pokeball.png');
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-name-team {
    margin-top: 10px;
}

.pokemon-level {
    font-size: 8px;
}

.details-container {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.hidden {
    display: none;
}


#buy-button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

h2 {
    color: white;
}
